<ngb-carousel class="caroseljolise"
[interval]="5000"
[pauseOnHover] = false
[pauseOnFocus] = false
>
    <ng-template ngbSlide *ngFor="let carrouselProduct of carrouselProducts">
      <div class="picsum-img-wrapper">
        <img [src]="carrouselProduct.imgUrl" alt="Random first slide" routerLink="collection/{{carrouselProduct.title}}"
        style="cursor: pointer"/>
      </div>
      <div class="carousel-caption">
        <h3>{{carrouselProduct.title}}</h3>
        <p>{{carrouselProduct.description}}</p>
      </div>
    </ng-template>
</ngb-carousel>
