<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4 mx-auto">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: white" href="#!" role="button"><img src="assets/facebook.png" width="30px"></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: lightgreen" href="#!" role="button"><img src="assets/twitter.png" width="30px"></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><img src="assets/insta.png" width="30px"></a>

    </section>
    <!-- Section: Social media -->


    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Send us a message</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="emailInput" class="form-control" />
              <label class="form-label" for="emailInput">Email address</label>

              <input type="text" id="messageInput" class="form-control" />
              <label class="form-label" for="messageInput">Message</label>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">

            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-0">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Si un produit vous intéresse, vous pouvez nous contacter ici, nous vous recontacterons au plus vite.
        <br>Merci de préciser le produit en question, les autres informations se feront par echange direct
        avec nos stylistes
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

</footer>
<!-- Footer -->
