<!-- Footer -->
<footer class="text-center text-white" style="background-color: rgba(249,228,183)">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4 mx-auto">

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" href="https://www.instagram.com/" role="button"><img src="assets/insta.png" width="30px" alt=""></a>

    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong style="color: black">Contactez nous!</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="emailInput" class="form-control" />
              <label style="color: black" class="form-label" for="emailInput">Email address</label>

              <input type="text" id="messageInput" class="form-control" />
              <label style="color: black" class="form-label" for="messageInput">Message</label>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">

            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-0">
              Envoyer
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p style="color: black">
        Si un produit vous intéresse, vous pouvez nous contacter ici, nous vous recontacterons au plus vite.
        <br>Merci de préciser le produit en question, les autres informations se feront par echange direct
        avec nos stylistes
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

</footer>
<!-- Footer -->
