/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
}

@font-face {
  font-family: queenside;
  src: url(assets/fonts/Queensides-3z7Ey.ttf) format("opentype");
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
