<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="assets/logoAlphee.png"
                       style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Alphee</h4>
                </div>

                <form (ngSubmit)="onSubmitForm()">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" class="form-control" placeholder="Email address"
                           id="emailInput" [(ngModel)]="userEmail" name="userEmail"/>
                    <label class="form-label" for="emailInput">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="passwordInput" class="form-control"
                           [(ngModel)]="userPassword" name="userPassword" />
                    <label class="form-label" for="passwordInput">Mot de passe</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="passwordInputTwo" class="form-control"
                           [(ngModel)]="userPasswordTwo" name="userPasswordTwo" />
                    <label class="form-label" for="passwordInput">Répétez le mot de passe</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button  class="btn btn-primary btn-block fa-lg bg-gradient mb-3" type="submit">S'enregistrer</button>
                  </div>
                  <p class="mb-0 me-2 text-danger text-center">{{errorTxt}}</p>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2 text-dark">Vous avez déjà un compte ?</p>
                    <button class="btn btn-outline-danger" routerLink="/login">Se connecter</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <button class="btn btn-outline-primary" routerLink="">Retour à l'acceuil</button>
                  </div>


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center bg-light">
              <div class="text-dark px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Connectez vous pour avoir de nos nouvelles !</h4>
                <p class="small mb-0">Lorsque vous créérez un compte chez nous,
                  vous serez les premiers à être au courant des nouvelles pièces sorties et des nouvelles collections.
                  <br>Ne manquez pas cette occasion !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
